@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/AvenirNext_Variable.woff2") format("woff2");
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
  color: transparent;
  font-family: "Avenir";
}

.text {
  font-variation-settings: "wght" 400, "wdth" 100;
  font-size: 10em;
  text-align: center;
  position: absolute;
  animation: text-flow 8s infinite;
}

.text:nth-child(1) {
  animation-delay: 0.25s;
  opacity: 0.9;
  -webkit-text-stroke: 3px #ffb3c0;
  z-index: 0;
}

.text:nth-child(2) {
  animation-delay: 0.5s;
  opacity: 0.8;
  -webkit-text-stroke: 3px #ffa7b6;
  z-index: -1;
}

.text:nth-child(3) {
  animation-delay: 0.75s;
  opacity: 0.7;
  -webkit-text-stroke: 3px #ff9aab;
  z-index: -2;
}

.text:nth-child(4) {
  animation-delay: 1s;
  opacity: 0.6;
  -webkit-text-stroke: 3px #ff8da1;
  z-index: -3;
}

.text:nth-child(5) {
  animation-delay: 1.25s;
  opacity: 0.5;
  -webkit-text-stroke: 3px #ff8096;
  z-index: -4;
}

.text:nth-child(6) {
  animation-delay: 1.5s;
  opacity: 0.4;
  -webkit-text-stroke: 3px #ff748c;
  z-index: -5;
}

.text:nth-child(7) {
  animation-delay: 1.75s;
  opacity: 0.3;
  -webkit-text-stroke: 3px #ff6781;
  z-index: -6;
}

.text:nth-child(8) {
  animation-delay: 2s;
  opacity: 0.2;
  -webkit-text-stroke: 3px #ff5a77;
  z-index: -7;
}

.text:nth-child(9) {
  animation-delay: 2.25s;
  opacity: 0.1;
  -webkit-text-stroke: 3px #ff4d6c;
  z-index: -8;
}

@keyframes text-flow {
  25% {
    font-variation-settings: "wght" 900, "wdth" 100;
    filter: hue-rotate(0deg);
  }
  50% {
    transform: translateY(-100px);
    font-variation-settings: "wght" 400, "wdth" 100;
  }
  75% {
    transform: translateY(0%);
    font-variation-settings: "wght" 900, "wdth" 100;
    filter: hue-rotate(90deg);
  }
}